<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="component" class="ontos.infovis.pojo.Component" scope="prototype">
    </bean>
    <bean id="response" class="ontos.infovis.pojo.Response" scope="prototype">
    </bean>
    <bean id="composition" class="ontos.infovis.pojo.Composition" scope="prototype">
    </bean>
    <bean id="unzip" class="ontos.infovis.util.Unzip" scope="prototype">
    </bean>

    <!--endpoint configuration-->
    <bean id="queryExecutionFactory" class="org.aksw.jena_sparql_api.http.QueryExecutionFactoryHttp" scope="singleton">
        <!--<constructor-arg name="service" value="http://dbpedia.org/sparql"></constructor-arg>-->
        <!--<constructor-arg name="defaultGraphName" value="http://dbpedia.org"></constructor-arg>-->
        <constructor-arg name="service" value="http://lindas-data.ch/sparql"></constructor-arg>
        <constructor-arg name="defaultGraphName" value="http://lindas-data.ch"></constructor-arg>
    </bean>
    <bean id="queryExecutionFactoryRetry" class="org.aksw.jena_sparql_api.retry.core.QueryExecutionFactoryRetry" scope="singleton">
        <constructor-arg ref="queryExecutionFactory"/>
        <constructor-arg name="retryCount" value="5"/>
        <constructor-arg name="retryDelayInMs" value="10000"/>
    </bean>
    <bean id="queryExecutionFactoryDelay" class="org.aksw.jena_sparql_api.delay.core.QueryExecutionFactoryDelay" scope="singleton">
        <constructor-arg ref="queryExecutionFactoryRetry"/>
        <constructor-arg name="delay" value="5000"/>
    </bean>
    <bean id="queryExecutionFactoryPaginated" class="org.aksw.jena_sparql_api.pagination.core.QueryExecutionFactoryPaginated" scope="singleton">
        <constructor-arg ref="queryExecutionFactoryDelay"/>
        <constructor-arg name="pageSize" value="900"/>
    </bean>

    <bean id="dbpedia" class="org.aksw.jena_sparql_api.http.QueryExecutionFactoryHttp" scope="singleton">
        <constructor-arg name="service" value="http://dbpedia.org/sparql"></constructor-arg>
        <constructor-arg name="defaultGraphName" value="http://dbpedia.org"></constructor-arg>
    </bean>
    <!--endpoint configuration-->

</beans>